.hero {
    background: url('kuvat/drink.jpg') no-repeat center center;
    background-size: cover;
    height: 60vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end; 
    align-items: center;
    color: white;
    text-align: center;
    position: relative;
    margin: 0; 
}

.price {
    font-weight: bold;       /* Make it bold */
    color: #d1cdc8;         /* Use a standout color */
    font-size: 1.1rem;      /* Slightly larger font size */
    background-color: #4d4c4c; /* Add a subtle background */
    padding: 1px 3px;       /* Add padding around the text */
    border-radius: 4px;     /* Rounded corners for better design */
}

main h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #bfa98a;
    border-bottom: none;
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Georgia', serif;
}

p {
    line-height: 1.6;
    font-size: 1rem;
    margin: 10px;
    color: white;
    text-align: center;
    font-family: 'Georgia', serif;
    margin-bottom: 40px; /* Add space between paragraphs */
    }
    

