/*Styling*/

/*Styling*/



.header .header-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: 1;
    display: block; 
}
.hero {
    background: url('kuvat/greippikuvajpg.jpg') no-repeat center center;
    background-size: cover; 
    height: 60vh; 
    display: flex; 
    flex-direction: column;
    justify-content:end;/* keskitys */
    align-items: center;
    color: white; 
    text-align: center;
    position: relative;

}


.body h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #bfa98a; 
    bborder-bottom: 1px solid #bfa98a; 
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Georgia', serif; 
}
p {
    line-height: 1.6;
    font-size: 1rem;
    margin: 10px;
    color: white;
    text-align: center;
    font-family: 'Georgia', serif;
    justify-content: space-between;
    
}