/*Styling*/

/*Styling*/

.body h2 {
    text-align: center;
    margin-bottom: 15px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #bfa98a; 
    bborder-bottom: 1px solid #bfa98a; 
    padding-bottom: 10px;
    text-transform: uppercase;
    font-family: 'Georgia', serif; 
}
p {
    line-height: 1.6;
    font-size: 1rem;
    margin: 10px;
    color: white;
    text-align: center;
    font-family: 'Georgia', serif;
    justify-content: space-between;
    
}