.navigation {
    background-color: black; 
    justify-content: space-between;   
}

.name {
    display: flex;
}

h1 {
    color: azure;
}

.nav {
    display: flex;
    justify-content: space-between;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.container {
    max-width: 1000;
    margin: 10px auto;
}