
.hero {
    background: url('kuvat/plate-with-fresh-salad-wooden-barrel_1304-4661.jpg') no-repeat center center;
    background-size: cover; 
    height: 60vh; 
    display: flex; 
    flex-direction: column;
    justify-content:end;
    align-items: center;
    color: white; 
    text-align: center;
    position: relative;
 
 }