.hero {
    background: url('kuvat/ruokaetusivulle.avif') no-repeat center center;
    background-size: cover; 
    height: 60vh; 
    display: flex; 
    flex-direction: column;
    justify-content: end;
    align-items: center;
    color: white; 
    text-align: center;
    position: relative;
}

.content {
    align-items: center; 
    gap: 20px; 
    padding: 20px;
}

.text-container {
    text-align: center; 
    padding: 20px;
}

h3 {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #bfa98a;
    font-family: 'Georgia', serif;
}

p {
    line-height: 1.6;
    font-size: 1rem;
    color: white;
    text-align: left;
    font-family: 'Georgia', serif;
}
