body {
    background-image: url(kuvat/healthyFood.jpg);
}

/*Styling*/

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #202124;
}
.container {
    display: flex;
    flex-direction: column;
}

.header {
    position: relative;
    height: 300px;
    width: 100%; 
    overflow: hidden; 
    bbackground-color: #202124; 
}
.navigation {
    text-align: left;
    position: absolute;
    top: 10px;
    left: 20px;
    z-index: 10;
}

.logo {
   width: auto;
   height: auto;
   max-width: 300px;
   

}
@media (max-width: 480px) {
    .logo {
        width: 120px; 
    }
}

.header nav {
    position: absolute;
    top: 13%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
    z-index: 10; 
}

.header nav ul {
    display: flex;
    list-style: none;
    gap: 20px; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    padding: 0; 
}

.header a {
    text-align: center;
    text-decoration: none;
    color: white;
    transition: color 0.3s ease;
    font-size: 1,2rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

 a:hover {
    color: #bfa98a;
    text-decoration: underline;
 }

/*styling*/


.yhteystiedot {
    background-color: #202124;
    padding: 40px 20px; 
    font-family: 'Georgia', serif; 
    color: #f5f5f5; 
    text-align: center; 
    font-size: large;
}

.yht-container {
    display: flex;
    justify-content: space-between;
    gap: 40px;
    max-width: 1200px;
    margin: 0 auto;
    flex-wrap: wrap; 
    align-items: flex-start; 
}
.yht-section {
    flex: 1;
    min-width: 300px;
    padding: 30px;
}
.yht-section h2 {
    margin-bottom: 15px;
    font-size: 1.75rem;
    font-weight: bold;
    color: #bfa98a; 
    border-bottom: 1px solid #bfa98a; 
    padding-bottom: 10px;
    text-transform: uppercase; 
}